# Dataset Overview and Objective

In this project, we'll explore a coffee shop transaction dataset using Python and the Pandas library. Our main objectives are to gain insights into the sales performance, customer behavior, and product popularity of the coffee shop. By analyzing this dataset, we can make data-driven decisions to optimize business strategies, improve customer satisfaction, and increase revenue.

To accomplish these objectives, we'll utilize various properties and methods provided by the Pandas library. Pandas is a powerful data manipulation and analysis tool that allows us to efficiently handle and explore large datasets. It provides a wide range of functions and methods that enable us to clean, transform, and extract meaningful information from the data.

Here are some key properties and methods we'll use in our analysis:

`.head()` and `.tail()`These methods allow us to view the first few rows or the last few rows of the dataset, respectively. They provide a quick glimpse into the structure and content of the dataset, helping us understand the available columns and data types. Calling the .head() method on the DataFrame returns the first n rows of the dataframe. N=5 by default. Calling the .tail() method on the DataFrame returns the last n rows of the dataframe. N=5 by default. <br><br>
`shape` The shape property returns a tuple indicating the number of rows and columns in the dataset. It gives us an idea of the size and dimensionality of the data we're working with.<br><br>
`info()` This method provides a concise summary of the dataset, including the column names, data types, and non-null counts. It helps us identify any missing values or inconsistencies in the data and guides us in selecting appropriate data types for analysis.<br><br>
`describe()` The describe() method generates descriptive statistics for numerical columns, such as count, mean, standard deviation, minimum, and maximum values. It provides valuable insights into the distribution and central tendencies of the data.<br><br>
`value_counts()` This method counts the occurrences of unique values in a column. It helps us understand the distribution of categorical variables, such as store locations or product categories, and identifies the most frequent or popular values.<br><br>
`groupby()` The groupby() method allows us to split the dataset into groups based on one or more columns. It enables us to perform aggregate operations, such as sum, mean, or count, on specific groups. This is particularly useful for analyzing sales performance by store location, product category, or time period.<br><br>
`.isna()` checks for missing values<br><br>
`.select_dtypes()` returns a subset of the DataFrameâ€™s columns based on the column dtypes.<br><br>
`.nunique()` counts number of distinct elements in specified axis.<br><br>
`.unique()` returns all type of unique values <br><br>


By leveraging these properties and methods, we can gain a comprehensive understanding of the coffee shop transaction dataset. We can uncover patterns, trends, and outliers that may not be immediately apparent from raw data. These insights can drive strategic decisions, such as optimizing inventory management, tailoring marketing campaigns, or identifying areas for improvement in customer service. Furthermore, the Pandas library provides powerful data visualization capabilities through its integration with Matplotlib. We can create informative and visually appealing charts, graphs, and plots to present our findings effectively. Visualizations help convey complex information in a more accessible and understandable format, making it easier for stakeholders to grasp the key insights and make informed decisions. **In summary,** by utilizing the properties and methods offered by Pandas, we can efficiently explore and analyze the coffee shop transaction dataset. Through data manipulation, aggregation, and visualization techniques, we can uncover valuable insights that drive business growth and success. This project demonstrates the importance of data-driven decision-making and showcases the power of Python and Pandas in extracting meaningful information from raw data.

## Data Dictionary

 - **transaction_id:** Unique sequential ID respresenting an individual transaction
- **transaction_date:** Date of transaction (MM/DD/YYYY)
- **transaction_time:** Timestamp if the transaction (HH:MM:SS)
- **transaction_qty:** Quantity of items sold
- **store_id:** Unique ID of the coffee shop where the transaction took place
- **store_location:** Location of the coffee shop where the transaction took place
- **product_id:** Unique ID of the product sold
- **unit_price:** Retail price of the product sold
- **product_category:** Description of the product category
- **product_type:** Description of the product type
- **product_detail:** Description of the product detail

# Exploratory Analysis in Python

## Data and Package Import

In [2]:
# import python libraries
import pandas as pd
import numpy as np

## Load CSV file into a pandas DataFrame

In [3]:
# load csv file into a pandas DataFrame. A DataFrame is a two-dimensional data structure that is similar to a table in a relational database.
df = pd.read_csv(r'C:\Users\ryned\OneDrive\Documents\GitHub\dojo-env-setup\aHolyCityRoasters\holy_city_roasters.csv')

In [4]:
df.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,1/1/2023,7:06:11,2,5,Downtown,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,1/1/2023,7:08:56,2,5,Downtown,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,1/1/2023,7:14:04,2,5,Downtown,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,1/1/2023,7:20:24,1,5,Downtown,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,1/1/2023,7:22:41,2,5,Downtown,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [14]:
df.tail()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail,revenue
149111,149452,6/30/2023,20:18:41,2,8,Park Circle,44,2.50,Tea,Brewed herbal tea,Peppermint Rg,5.00
149112,149453,6/30/2023,20:25:10,2,8,Park Circle,49,3.00,Tea,Brewed Black tea,English Breakfast Lg,6.00
149113,149454,6/30/2023,20:31:34,1,8,Park Circle,45,3.00,Tea,Brewed herbal tea,Peppermint Lg,3.00
149114,149455,6/30/2023,20:57:19,1,8,Park Circle,40,3.75,Coffee,Barista Espresso,Cappuccino,3.75
149115,149456,6/30/2023,20:57:19,2,8,Park Circle,64,0.80,Flavours,Regular syrup,Hazelnut syrup,1.60

Note: the **transaction_date**, **transaction_time** columns. The transaction date appears to cover a six month span of time (1/1/2023 - 6/30/2023) and the transaction_time appears to offer an insight into the stores business hours. (7AM - 10PM)

In [6]:
df.shape

(149116, 11)

The dataset contains 149,116 rows and 11 columns.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  object
 2   transaction_time  149116 non-null  object
 3   transaction_qty   149116 non-null  int64
 4   store_id          149116 non-null  int64
 5   store_location    149116 non-null  object
 6   product_id        149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   product_category  149116 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 12.5+ MB

## Checking for Missing Values

In [8]:
df.isna().sum()

transaction_id      0
transaction_date    0
transaction_time    0
transaction_qty     0
store_id            0
store_location      0
product_id          0
unit_price          0
product_category    0
product_type        0
product_detail      0
dtype: int64

We have 0 zero missing values in our data set.

## Numerical Columns Analysis

In [9]:
df.describe()

,transaction_id,transaction_qty,store_id,product_id,unit_price
count,149116.000000,149116.000000,149116.000000,149116.000000,149116.000000
mean,74737.371872,1.438276,5.342063,47.918607,3.382219
std,43153.600016,0.542509,2.074241,17.930020,2.658723
min,1.000000,1.000000,3.000000,1.000000,0.800000
25%,37335.750000,1.000000,3.000000,33.000000,2.500000
50%,74727.500000,1.000000,5.000000,47.000000,3.000000
75%,112094.250000,2.000000,8.000000,60.000000,3.750000
max,149456.000000,8.000000,8.000000,87.000000,45.000000

There are five numerical columns in our DataFrame: `transaction_id`, `transaction_qty`, `store_id`, `product_id`, `unit_price`

***transaction_id, store_id, and product_id are unique identifiers and do not offer significant insights.*** So we'll exclude them and focus on the unit_price, and transaction_qty columns.

In [15]:
df[['unit_price', 'transaction_qty']].describe()

          unit_price  transaction_qty
count  149116.000000    149116.000000
mean        3.382219         1.438276
std         2.658723         0.542509
min         0.800000         1.000000
25%         2.500000         1.000000
50%         3.000000         1.000000
75%         3.750000         2.000000
max        45.000000         8.000000

Transaction Quantity:
The transaction_qty column represents the quantity of items purchased in each transaction. The dataset contains 149,116 transactions, with a mean quantity of 1.44 items per transaction. The minimum quantity is 1, and the maximum is 8, indicating that customers can purchase multiple items in a single transaction. The 25th, 50th (median), and 75th percentile values are 1, 1, and 2, respectively, suggesting that most transactions involve a small number of items.

Unit Price:
The unit_price column indicates the price of each product sold. The average unit price is $3.38, with a standard deviation of $2.66. The minimum price is $0.80, and the maximum price is $45.00. The 25th percentile price is $2.50, the median price is $3.00, and the 75th percentile price is $3.75. This information is crucial for understanding the pricing structure and revenue generated from different products.

## Categorical Columns Analysis

In [11]:
# returning a list of categorical columns
categorical_columns = df.select_dtypes(include='object').columns.tolist()
categorical_columns

['transaction_date',
 'transaction_time',
 'store_location',
 'product_category',
 'product_type',
 'product_detail']

The six categorical columns: `transaction_date`, `transaction_time`, `store_location`, `product_category`, `product_type`, `product detail`

returns a series containing the frequency of each distinct row in the Dataframe.

In [12]:
last_4_columns = categorical_columns[-4:]

for col in last_4_columns:
    # Get the number of distinct values in the column
    distinct_count = df[col].nunique()
    print(f"Number of distinct values in {col}: {distinct_count}")
    
    # Get the unique values and their counts
    unique_values = df[col].unique()
    value_counts = df[col].value_counts()
    print(f"Unique values and counts of {col}:")
    print(value_counts)
    print()  # Add a blank line for readability

Number of distinct values in store_location: 3
Unique values and counts of store_location:
Park Circle    50735
West Ashley    50599
Downtown       47782
Name: store_location, dtype: int64

Number of distinct values in product_category: 9
Unique values and counts of product_category:
Coffee                58416
Tea                   45449
Bakery                22796
Drinking Chocolate    11468
Flavours               6790
Coffee beans           1753
Loose Tea              1210
Branded                 747
Packaged Chocolate      487
Name: product_category, dtype: int64

Number of distinct values in product_type: 29
Unique values and counts of product_type:
Brewed Chai tea          17183
Gourmet brewed coffee    16912
Barista Espresso         16403
Hot chocolate            11468
Brewed Black tea         11350
Brewed herbal tea        11245
Scone                    10173
Organic brewed coffee     8489
Drip coffee               8477
Premium brewed coffee     8135
Pastry                    6912
Biscotti                  5711
Brewed Green tea          5671
Regular syrup             4979
Sugar free syrup          1811
Housewares                 526
Chai tea                   443
Organic Beans              415
Gourmet Beans              366
Premium Beans              336
Espresso Beans             319
Herbal tea                 305
Black tea                  303
Drinking Chocolate         266
Organic Chocolate          221
Clothing                   221
House blend Beans          183
Green tea                  159
Green beans                134
Name: product_type, dtype: int64

Number of distinct values in product_detail: 80
Unique values and counts of product_detail:
Chocolate Croissant             3076
Earl Grey Rg                    3053
Dark chocolate Lg               3029
Morning Sunrise Chai Rg         3026
Columbian Medium Roast Rg       3013
                                ...
Jamacian Coffee River            146
Earl Grey                        142
Guatemalan Sustainably Grown     134
Spicy Eye Opener Chai            122
Dark chocolate                   118
Name: product_detail, Length: 80, dtype: int64

**Store Locations:**<br><br>
The coffee shop chain has three distinct store locations: Park Circle, West Ashley, and Downtown. Among these, Park Circle has the highest number of transactions with 50,735, followed closely by West Ashley with 50,599 transactions. The Downtown location has the lowest number of transactions at 47,782. This information provides valuable insights into the performance and popularity of each store location.<br><br>
Product Categories:<br><br>
The dataset includes nine different product categories: **Coffee**, **Tea**, **Bakery**, **Drinking Chocolate**, **Flavours**, **Coffee beans**, **Loose Tea**, **Branded**, and **Packaged Chocolate**. Coffee is the most popular category, accounting for 58,416 transactions. Tea follows as the second most popular category with 45,449 transactions. Bakery items, Drinking Chocolate, and Flavours also contribute significantly to the overall sales. The remaining categories, such as Coffee beans, Loose Tea, Branded, and Packaged Chocolate, have relatively lower transaction counts.
**Product Types:**<br><br>
Within the product categories, there are 29 distinct product types. Brewed Chai tea is the most popular product type with 17,183 transactions, followed by Gourmet brewed coffee (16,912 transactions) and Barista Espresso (16,403 transactions). Other notable product types include Hot chocolate, Brewed Black tea, Brewed herbal tea, Scone, Organic brewed coffee, Drip coffee, and Premium brewed coffee. The variety of product types offered by the coffee shop caters to different customer preferences and contributes to the overall sales volume.<br><br>
**Product Details:**<br><br>
The dataset provides granular information about the specific products sold, with 80 unique product details. The top-selling product is Chocolate Croissant with 3,076 transactions, followed by Earl Grey Rg (3,053 transactions), Dark chocolate Lg (3,029 transactions), Morning Sunrise Chai Rg (3,026 transactions), and Columbian Medium Roast Rg (3,013 transactions). The product details showcase the wide range of flavors, sizes, and variations offered by the coffee shop, allowing customers to choose from a diverse selection of beverages and bakery items.

## Other General Analysis

In [13]:
# Calculate total revenue
df['revenue'] = df['transaction_qty'] * df['unit_price']
total_revenue = df['revenue'].sum()
print(f"\nTotal revenue: ${total_revenue:.2f}")



# Calculate average transaction value
avg_transaction_value = df['revenue'].mean()
print(f"Average transaction value: ${avg_transaction_value:.2f}")



# Calculate total transactions and revenue by store location
transactions_by_store = df.groupby('store_location')['transaction_id'].count()
revenue_by_store = df.groupby('store_location')['revenue'].sum()
print("\nTransactions and revenue by store location:")
print(pd.concat([transactions_by_store, revenue_by_store], axis=1, keys=['Transactions', 'Revenue']))



# Calculate total transactions, revenue, and average price by product category
transactions_by_category = df.groupby('product_category')['transaction_id'].count()
revenue_by_category = df.groupby('product_category')['revenue'].sum()
avg_price_by_category = df.groupby('product_category')['unit_price'].mean()
category_summary = pd.concat([transactions_by_category, revenue_by_category, avg_price_by_category], axis=1, keys=['Transactions', 'Revenue', 'Average Price'])
print("\nTransactions, revenue, and average price by product category:")
print(category_summary)

Total revenue: $698812.33
Average transaction value: $4.69

Transactions and revenue by store location:
                Transactions    Revenue
store_location
Downtown               47782  230057.25
Park Circle            50735  236511.17
West Ashley            50599  232243.91

Transactions, revenue, and average price by product category:
                    Transactions    Revenue  Average Price
product_category
Bakery                     22796   82315.64       3.551682
Branded                      747   13607.00      17.720214
Coffee                     58416  269952.45       3.023646
Coffee beans                1753   40085.25      21.018397
Drinking Chocolate         11468   72416.00       4.148827
Flavours                    6790    8408.80       0.800000
Loose Tea                   1210   11213.60       9.267438
Packaged Chocolate           487    4407.64       9.050595
Tea                        45449  196405.95       2.817121

**Overall Performance:**<br><br>
The coffee shop generated a total revenue of $698,812.33 during the analyzed period. The average transaction value stands at $4.69, indicating that customers typically spend a moderate amount per visit. This suggests that the coffee shop has a solid customer base and offers products at accessible price points. <br><br>
**Store Performance:**<br><br>
The coffee shop operates in three locations: Downtown, Park Circle, and West Ashley. Park Circle emerged as the top-performing store, generating $236,511.17 in revenue with 50,735 transactions. West Ashley followed closely with $232,243.91 in revenue and 50,599 transactions. The Downtown location had the lowest revenue at $230,057.25 and 47,782 transactions.<br><br>
The similar transaction counts across all three locations indicate a consistent customer flow. However, the slightly higher revenue in Park Circle suggests that this location may have a higher average transaction value or sells more premium products compared to the other stores. The coffee shop should investigate the factors contributing to Park Circle's success and consider applying successful strategies to the other locations.<br><br>
**Product Category Performance:**<br><br>
The coffee shop offers a diverse range of product categories, including Coffee, Tea, Bakery, Drinking Chocolate, Flavours, Coffee beans, Loose Tea, Branded, and Packaged Chocolate.
Coffee emerges as the top-selling category, with 58,416 transactions and $269,952.45 in revenue. This highlights the strong demand for coffee products and their significant contribution to overall sales. The average price of coffee products is $3.02, indicating a competitive pricing strategy. Tea follows as the second most popular category, with 45,449 transactions and $196,405.95 in revenue. The average price of tea products is $2.82, slightly lower than coffee. This suggests that tea is an essential complementary offering and attracts a substantial customer base. Bakery items also play a crucial role, with 22,796 transactions and $82,315.64 in revenue. The average price of bakery products is $3.55, indicating a moderate pricing point. The coffee shop should ensure a diverse and appealing bakery selection to drive sales in this category. Drinking Chocolate and Coffee beans are notable categories, with average prices of $4.15 and $21.02, respectively. While they have fewer transactions compared to Coffee and Tea, their higher price points contribute significantly to the overall revenue. Flavours and Packaged Chocolate have the lowest transaction counts and revenue, suggesting that they may be ancillary offerings or have limited demand. The coffee shop could reassess the performance and profitability of these categories.<br><br>
**Pricing Strategy:**<br><br>
The average prices across product categories provide insights into the coffee shop's pricing strategy. Coffee beans have the highest average price at $21.02, indicating a focus on premium or specialty beans. Branded products also have a high average price of $17.72, suggesting partnerships with well-known brands or offering exclusive merchandise.
Drinking Chocolate, Tea, and Bakery items have average prices ranging from $2.82 to $4.15, which are accessible to most customers. The coffee shop should ensure that these core offerings remain competitively priced to attract and retain customers.Flavours have the lowest average price at $0.80, indicating that they may be add-ons or small extras that complement other purchases.

# Microsoft Excel: Files, Functions, Formulas and Tasks Completed

## Files:
[Original Excel File](https://dl.dropboxusercontent.com/scl/fi/ujgs9q2xz1pgew20tbp8j/AOriginal_coffee_shop_sales.xlsx?rlkey=copibd1u6w5m9rtru72ga413d&dl=1)


[Finished Excel File](https://dl.dropboxusercontent.com/scl/fi/ofsqcn33j1fohoy1achpq/BFinished_coffee_shop_sales.xlsx?rlkey=by2w3vojxyn50knshkyscyrl1&dl=1)

## Functions and Formulas Used:

*All function definitions explanations are sourced from support.microsoft.com. All examples of functions and formulas used can be seen*

`=MONTH()` returns the month of a date represented by a serial number. The month is given as an integer, ranging from 1 (January) to 12 (December).<br>
**EXAMPLE:** in column "M" we use the formula =MONTH(B2) to extract the "1" from the value "1/1/2023" in cell B2 in the transaction_time column.<br><br>
`=TEXT()` the TEXT function lets you change the way a number appears by applying formatting to it with format codes. <br>
**EXAMPLE:** In column "N", we use the formula `=TEXT(B2,"mmm")` to extract the three-character representation of the month from the value "1/1/2023".<br>The result is "Jan". In column "P", we use the formula in a slightly different fashion: `=TEXT(B2,"ddd")`. This time, the result is "Sun".<br><br>
`=WEEKDAY()` returns the day of the week corresponding to a date. The day is given as an integer, ranging from 1 (Sunday) to 7 (Saturday), by default.<br>
**EXAMPLE:** In column "O" we use the formula =WEEKDAY(B2,2) to extract the numerical representation of the weekday. The result is "7"<br><br>
`=HOUR()` returns a Variant (Integer) specifying a whole number between 0 and 23, inclusive, representing the hour of the day.<br>
**EXAMPLE:** in column "Q" we use the formula =HOUR(C2) to extract the hour of the transaction in the column transaction_ time.

## Tasks Completed:

<li>Analyzed data for 3 stores, noticing approximately 150,000 transactions. Took note of the time range (06:00-20:00), date range (Jan 23 - Jun 23), and the 3 store locations around Charleston (Downtown, Park Circle, West Ashley).
<li>Added a new column to calculate Revenue by multiplying price and quantity.
<li>Added new columns to calculate Month and Day of Week based on the transaction date. Displayed them as text (i.e. "Jan", "Feb", "Sun", "Mon") instead of numerical columns.
<li>Added a new column to extract Hour from the transaction time.
<li>Inserted a PivotTable on a new tab to show revenue by month
<li>Added two more PivotTables to show the number of transactions by day of week and by hour of day
<li>Added a PivotTable to show the number of transactions by product category, sorted descending by transactions
<li>Added a PivotTable to show the number of transactions and revenue by product type, sorted descending and filtered to the top 15 (by transactions)
<li>Added PivotCharts to show revenue by month as a line chart, transactions by day of week and hour of day as column charts, and transactions by product category as a bar chart
<li>Assembled the charts into a rough dashboard layout, and included space for the PivotTable showing Top 15 product types 
<li>Added a slicer for store location, and connected it to all of the PivotTables on the sheet
<li>Adjusted formatting, alignment and polish to finalize the dashboard

## Completed Dashboard(s) by store location:







### Downtown Store:
![Dashboard](https://dl.dropboxusercontent.com/scl/fi/7qp3njxr2hoit973cvwgs/dashboard1.png?rlkey=7ss60vk5zjuxs8swnweycnitq&dl=1)







### Park Circle Store:
![Dashboard 2](https://dl.dropboxusercontent.com/scl/fi/ln4pznqk99euy9pnqokfq/dashboard2.png?rlkey=vt5dyj6q0nia9qi7rj4cfwxts&dl=1)







#### West Ashley Store:
![Dashboard 3](https://dl.dropboxusercontent.com/scl/fi/obczmyrtjs152x26n9web/dashboard3.png?rlkey=2elsevc1oq6ghd2ckvn3tqns0&dl=1)

# Conclusion:


The coffee shop demonstrates strong overall performance, with consistent sales across all three locations. Park Circle emerges as the top-performing store, warranting further analysis to identify best practices. Coffee and Tea are the primary revenue drivers, while Bakery items provide a significant complementary offering. The pricing strategy appears to be well-structured, with a mix of premium and affordable options catering to different customer preferences.

To further enhance performance, the coffee shop should focus on optimizing the product mix, pricing, and marketing strategies based on the insights gained from this analysis. Continuously monitoring and adapting to customer preferences and market trends will be crucial for sustained growth and success.

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=abc7a0a0-4b82-4df0-a6c5-14e821c8f75d' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>